.seccion-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: white;
}


.leyenda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.leyenda img {
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.plataforma {
  display: flex;
  justify-content: center;
  max-width: 800px;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
}

.plataforma h3 {
  margin: 0;
}
