<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer class="final">
  <div class="contacto">
    <div class="simbolo">
      <img src="assets/img/logo-footer.svg" alt="Logo Footer">
      <span>
      AT + 360 U-T-S
      </span>
    </div>
    <p>Esta plataforma cuenta con el
      objetivo de brindar apoyo al proceso
      que se presenta en el desarrollo del
      Trabajo de Integración Curricular de
      la carrera de Derecho</p>
  </div>
  <div class="enlaces">
    <div class="principal">
      <h3>Enlaces</h3>
      <div class="opciones-principal">
        <h5>Derecho</h5>
        <h5>LiiD</h5>
        <h5>UTPL</h5>
        <h5>Contacto</h5>
      </div>
    </div>
    <div class="soporte">
      <h3>Recursos</h3>
      <div class="opciones-soporte">
        <h5>Soporte</h5>
        <h5>Políticas y Privacidad</h5>
        <h5>Términos y Condiciones</h5>
      </div>
    </div>
      <div class="redes">
        <h3>Redes Sociales</h3>
        <div class="opciones-redes">
          <img src="assets/img/facebook.svg" alt="Facebook">
          <img src="assets/img/twitter.svg" alt="Twitter">
          <img src="../../../assets/img/Instagram.svg" alt="Instagram">
          <img src="assets/img/Linkedin.svg" alt="Linkedin">
          <img src="assets/img/youtube.svg" alt="Youtube">
        </div>
    </div>
  </div>

</footer>

</body>
</html>
