<header>
  <div class="logo">
    <img [routerLink]="['/home']" src="./assets/img/logo.svg" alt="Logo">
  </div>

  <div class="menu-icon" (click)="toggleNav()">☰</div>

  <nav class="nav-bar" [class.active]="menuOpen">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/info">Objetivo</a>
    <a href="https://www.utpl.edu.ec/carreras/derecho" target="_blank">Carrera Derecho</a>
    <a href="https://www.utpl.edu.ec/" target="_blank">UTPL</a>
  </nav>

  <div class="auth-buttons">
    <ng-container *ngIf="loggedIn; else loginButton">
      <div class="acceso">
        <div class="user-info">
          <h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
          <p>{{ user?.role }}</p>
        </div>
        <div class="logout">
          <button (click)="logout()" [routerLink]="['']">
            <img src="assets/img/Vector%20(4).svg" alt="Cerrar sesión">
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #loginButton>
      <a><button class="boton" [routerLink]="['/login']">Iniciar Sesión</button></a>
    </ng-template>
  </div>
</header>
