
<app-header></app-header>
<app-text></app-text>

<section class="seccion-1">
  <div class="content">
    <h1>VISOR 360</h1>
    <span>DOCENTE - ESTUDIANTE</span>
    <p>Una iniciativa de LiiD UTPL en colaboración con la Carrera de Derecho</p>
    <div>
      <a (click)="iniciar()" class="btn">Iniciar</a>
    </div>
  </div>
  <div class="img">
    <img src="assets/img/imagen-home.svg" alt="Grafico-1" class="grafico-1">
  </div>
</section>

<section class="seccion-2">
  <div class="imagen-seccion2">
    <img src="assets/img/estudiante-1%201.png" alt="Objetivo Principal">
    <div class="objetivo">
      <div class="titulo-objetivo">
        <div class="nuestro">
          <img src="assets/img/linea.svg" alt="Linea">
          <span>Nuestro</span>
        </div>
        <h3>Objetivo principal</h3>
      </div>
      <p>Empower yourself with the knowledge and skills gained through online education! The key to your future!
        Empower yourself with the knowledge and skills gained through online education! The key to your future!</p>
    </div>
  </div>
</section>
<section class="seccion-3">
  <div class="estadisticas">
    <div class="info">
      <h3>100k</h3>
      <p>Estudiantes usando</p>
    </div>
    <div class="info">
      <h3>45+</h3>
      <p>Tesis</p>
    </div>
    <div class="info">
      <h3>98k</h3>
      <p>Participación de directores</p>
    </div>
  </div>
</section>

<section class="seccion-4">
  <div class="leyenda">
    <img src="assets/img/linea.svg" alt="Linea">
    <span>
      AT + 360 U-T-S
    </span>
  </div>
  <div class="plataforma">
    <h3>
      Plataforma Transformación Académica + Visor 360 Docente - Estudiante
    </h3>
  </div>
</section>

<section class="seccion-5">
  <div class="leyenda">
    <img src="assets/img/linea.svg" alt="Linea">
    <span>
      Impacto
    </span>
  </div>
  <div class="plataforma">
    <h3>
      AT + 360 U-T-S
    </h3>
  </div>
  <div class="cajas">
    <div class="caja">Empower yourself with the knowledge and skills gained through online education! Empower yourself with the knowledge and skills gained through online education!</div>
    <div class="caja">Empower yourself with the knowledge and skills gained through online education! Empower yourself with the knowledge and skills gained through online education!</div>
    <div class="caja">Empower yourself with the knowledge and skills gained through online education! Empower yourself with the knowledge and skills gained through online education!</div>
  </div>
</section>

<section class="seccion-6">
  <div class="comentarios">
    <h2>Únete a darnos tu comentario</h2>
    <div class="comment-box">
      <input type="text" placeholder="Ingresa tu comentario aquí">
      <button>Enviar</button>
    </div>
  </div>
</section>


<app-footer></app-footer>

