<body>
  <div class="container">
    <h2>Rúbrica de Calificación</h2>
    <table>
      <thead>
        <tr>
          <th>Aspectos a Evaluar</th>
          <th>Criterios</th>
          <th>Ponderación</th>
          <th>Calificación</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">Preliminares</td>
          <td>EI informe contiene. portada, aprobación del Director de TT/ TIC: autoría y cesión de derechos,
            dedicatoria, agradecimiento, índice de contenidos de acuerdo a los criterios de la UTPL.</td>
          <td>0.6</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Presenta eI resumen en 180 palabras y hace constar: tema de la Investigación, objetivo general, el lugar
            donde se realizó la investigación, la muestra, los métodos, técnicas e instrumentos utilizados la conclusión
            general de los resultados obtenidos en el, proceso investigativo y las palabras claves.</td>
          <td>0.6</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Existe congruencia entre el resumen en español y la traducción al idioma inglés.</td>
          <td>0.3</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="4">Introducción</td>
          <td>Caracteriza de forma general el problema y presenta el tema investigado de forma clara y concreta.</td>
          <td>0.2</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Hace referencia a investigaciones que se han realizado sobre la problemática presentada.</td>
          <td>0.2</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Describe claramente los contenidos de cada capítulo, Destaca la importancia que tiene el estudio para la
            universidad y para la sociedad.</td>
          <td>0.2</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Explica cómo dio respuesta al problema planteado y el cumplimiento de los objetivos. Detalla los recursos,
            medios y motivaciones que hicieron posible el desarrollo del trabajo: además de las limitaciones que se
            presentaron en el desarrollo del mismo.</td>
          <td>0.4</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="3">Marco Teórico</td>
          <td>Establece las relaciones de semejanza y diferencia entre los conceptos y aportes de los autores.</td>
          <td>0.25</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Presenta por lo menos 3 fuentes bibliográficas citadas de acuerdo a las normas APA.
          </td>
          <td>0.25</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Realiza un análisis crítico y emite sus propias conclusiones en cada uno de los temas abordados.
          </td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="3">Metodología</td>
          <td>Incluye y desarrolla con claridad los objetivos generales y específicos.</td>
          <td>0.25</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Plantea y desarrolla una metodología de investigación pertinente al problema.</td>
          <td>0.25</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Describe las preguntas de investigación, el diseño, el contexto, la población, los métodos, las técnicas,
            e instrumentos, procedimiento y recursos que fueron utilizados en la investigación.</td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>

        <tr>
          <td rowspan="6">Resultados</td>
          <td>Incluye tablas y figuras con sus respectivos títulos, fuentes y autores.</td>
          <td>0.2</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Presenta un análisis e interpretación d ellos resultados obtenidos.</td>
          <td>0.3</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Responden los resultados obtenidos a los objetivos planteados</td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Confronta los resultados obtenidos con los fundamentos teóricos y los hechos de la realidad.</td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Contrasta los resultados obtenidos con información del marco teórico y de otras investigaciones.</td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Existe aporte personal.
            Plantea una propuesta pertinente en razón de la problemática identificada (en el caso de solicitar)
          </td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="2">Conclusiones</td>
          <td>Responden las concusiones a los objetivos del estudio.</td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Son precisas, coherentes, pertinentes a los resultados obtenidos en la aplicación de los instrumentos.
          </td>
          <td>0.5</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="1">Recomendaciones</td>
          <td>Plantea las recomendaciones en función de las conclusiones.</td>
          <td>1</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="2">Referencias Bibliograficas</td>
          <td>Utiliza bibliografía actualizada</td>
          <td>0.25</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Presenta en orden alfabeto utilizando las normes APA.</td>
          <td>0.25</td>
          <td><input type="number" min="0" max="10" step="0.1"></td>
          <td>-</td>
        </tr>


      </tbody>
    </table>
    <div>
      <button class="save-btn">Guardar Calificaciones</button>

    </div>
  </div>
</body>