.personal-data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.personal-data-container h2 {
  text-align: center;
  color: #333;
  margin-top: 20px ;
}

.personal-data-container .required-label {
  display: block;
  margin: 10px 0 5px;
}

.personal-data-container .opcional {
  display: block;
  margin: 10px 0 5px;
}

.required-label::after {
  content: " *";
  color: red;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 175px;
}

input[type="file"] {
  border: none;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.inicio {
  display: flex;
  justify-content: left;
  gap: 20px;
  padding: 10px 10%;
}

.calendario {
  display: flex;
  justify-content: left;
  gap: 8%;
  padding: 10px 10%;
}


.campos {
  display: flex;
  gap: 30px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.informacion-obligatoria {
  background-color: #f9fcff;
  padding: 40px 10%;
}


/* Ocultar el input de archivo nativo */
input[type="file"] {
  display: none;
}

/* Diseño del label que reemplaza al input file */
.custom-file-upload {
  display: flex;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 5px;
  width: 175px;
  cursor: pointer;
  color: #333;
  font-size: 10px;
  gap: 5px;
  margin: 0;
}

.custom-file-upload img {
  width: 15px;
}

.custom-file-upload:hover {
  border-color: #0056b3;
  background-color: #f9fcff;
}

.file-upload-container{
  display: flex;
  flex-direction: column;

}

.file-types {
  font-size: 10px;
  color: #888;
}

.discapacidad{
  display: flex;
}

.guardar{
  display: flex;
  justify-content: center;
  text-align: center;
}
.guardar button{
  display: inline-block;
  border-radius: 20px;
  color: #fff;
  background-color: #004271;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  text-align: center;
  padding: 7px;

}

.guardar button:hover{
  color: rgba(4, 65, 112, 1);
  background-color: #E2E2E2;
  border: solid 1px rgba(4, 65, 112, 1);
}

.personal-data-container .custom-file-upload label{
  margin: 0;
}


.guardarA{
  display: flex;
  justify-content: center;
  text-align: center;
}
.guardarA button{
  display: inline-block;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  cursor: not-allowed;
  font-size: 11.14px;
  width: 100px;
  text-align: center;

}

.guardarA button:hover{
  color: rgba(4, 65, 112, 1);
  background-color: #E2E2E2;
  border: solid 1px rgba(4, 65, 112, 1);
}

