<app-header></app-header>
<app-text></app-text>
<app-heading></app-heading>
<app-bar></app-bar>

<h2>Datos Administrativos del Trabajo de Titulación</h2>
<div class="container">
  <!-- Docente de la asignatura -->
  <div class="recuadro">
    <h3>Docente de la asignatura</h3>
    <p>
      Fecha:
      {{
        recuadros.docente.fechaEnvio
          ? recuadros.docente.fechaEnvio
          : currentDate
      }}
    </p>
    <p>
      {{
        recuadros.docente.correo
          ? recuadros.docente.correo
          : "Sin correo asignado"
      }}
    </p>
    <label *ngIf="esSecretario" for="archivoDocente" class="custom-file-upload">
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoDocente"
      type="file"
      (change)="onFileSelected($event, recuadros.docente)"
      accept="application/pdf"
      hidden
    />

    <div
      *ngIf="!esSecretario && !recuadros.docente.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div *ngIf="recuadros.docente.pdfFile" class="download-container">
      <a
        [href]="recuadros.docente.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>

    <button
      *ngIf="esSecretario && !recuadros.docente.fechaEnvio"
      (click)="sendEmail(recuadros.docente)"
    >
      {{ recuadros.docente.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Notificación al director -->
  <div class="recuadro">
    <h3>Notificación al director</h3>
    <p>
      Fecha:
      {{
        recuadros.director.fechaEnvio
          ? recuadros.director.fechaEnvio
          : currentDate
      }}
    </p>
    <select
      *ngIf="esSecretario"
      [(ngModel)]="selectedDirector"
      [compareWith]="compareUsers"
      (change)="onManualAssignmentChange('director')"
    >
      <option [ngValue]="null" disabled>
        {{ recuadros.director.correo || "Selecciona correo del director" }}
      </option>
      <option *ngFor="let prof of directorsList" [ngValue]="prof">
        {{ prof.email }}
      </option>
    </select>
    <p *ngIf="!esSecretario">{{ recuadros.director.correo }}</p>
    <label
      *ngIf="esSecretario"
      for="archivoNotificacionDirector"
      class="custom-file-upload"
    >
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoNotificacionDirector"
      type="file"
      (change)="onFileSelected($event, recuadros.director)"
      accept="application/pdf"
      hidden
    />
    <div
      *ngIf="!esSecretario && !recuadros.director.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div *ngIf="recuadros.director.pdfFile" class="download-container">
      <a
        [href]="recuadros.director.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>

    <button
      *ngIf="
        avanceDirectorAlCien && esSecretario && !recuadros.director.fechaEnvio
      "
      (click)="sendEmail(recuadros.director)"
    >
      {{ recuadros.director.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Notificación al equipo evaluador -->
  <div class="recuadro">
    <h3>Notificación al equipo evaluador</h3>
    <p>
      Fecha:
      {{
        recuadros.equipoEvaluador.fechaEnvio
          ? recuadros.equipoEvaluador.fechaEnvio
          : currentDate
      }}
    </p>
    <p *ngIf="!esSecretario">{{ recuadros.equipoEvaluador.correo }}</p>
    <select
      *ngIf="esSecretario"
      [(ngModel)]="selectedEvaluator"
      [compareWith]="compareUsers"
      (change)="onManualAssignmentChange('evaluador')"
    >
      <option [ngValue]="null" disabled>
        {{
          recuadros.equipoEvaluador.correo ||
            "Selecciona correo del equipo evaluador"
        }}
      </option>
      <option *ngFor="let prof of evaluatorsList" [ngValue]="prof">
        {{ prof.email }}
      </option>
    </select>
    <label
      *ngIf="esSecretario"
      for="archivoNotificacionEvaluador"
      class="custom-file-upload"
    >
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoNotificacionEvaluador"
      type="file"
      (change)="onFileSelected($event, recuadros.equipoEvaluador)"
      accept="application/pdf"
      hidden
    />
    <div
      *ngIf="!esSecretario && !recuadros.equipoEvaluador.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div *ngIf="recuadros.equipoEvaluador.pdfFile" class="download-container">
      <a
        [href]="recuadros.equipoEvaluador.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>
    <button
      *ngIf="esSecretario && !recuadros.equipoEvaluador.fechaEnvio"
      (click)="sendEmail(recuadros.equipoEvaluador)"
    >
      {{ recuadros.equipoEvaluador.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Aprobación del trabajo del director -->
  <div class="recuadro">
    <h3>Aprobación del trabajo de titulación del director</h3>
    <p>
      Fecha de Aprobacion:
      {{
        recuadros.aprobacionDirector?.fechaEnvio
          ? (recuadros.aprobacionDirector.fechaEnvio.toDate()
            | date: "yyyy-MM-dd")
          : "En espera de Aprobación"
      }}
    </p>
    <p>Nombre del director: {{ directorName }}</p>
    <label
      *ngIf="esSecretario"
      for="archivoAprobacionDirector"
      class="custom-file-upload"
    >
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoAprobacionDirector"
      type="file"
      (change)="onFileSelected($event, recuadros.aprobacionDirector)"
      accept="application/pdf"
      hidden
    />

    <div
      *ngIf="!esSecretario && !recuadros.aprobacionDirector.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div
      *ngIf="recuadros.aprobacionDirector.pdfFile"
      class="download-container"
    >
      <a
        [href]="recuadros.aprobacionDirector.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>
    <button
      *ngIf="esSecretario && !recuadros.aprobacionDirector.fechaEnvio"
      (click)="sendEmail(recuadros.aprobacionDirector)"
    >
      {{ recuadros.aprobacionDirector.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Aprobación del trabajo del equipo evaluador -->
  <div class="recuadro">
    <h3>Aprobación del trabajo de titulación del equipo evaluador</h3>
    <p>
      Fecha:
      {{
        recuadros.aprobacionEquipo.fechaEnvio
          ? recuadros.aprobacionEquipo.fechaEnvio
          : currentDate
      }}
    </p>
    <p>{{ recuadros.equipoEvaluador.correo }}</p>

    <!--  <input [disabled]="!esSecretario" type="email" [(ngModel)]="recuadros.equipoEvaluador.correo"
      placeholder="Correo del equipo evaluador" /> -->
    <label
      *ngIf="esSecretario"
      for="archivoAprobacionEquipo"
      class="custom-file-upload"
    >
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoAprobacionEquipo"
      type="file"
      (change)="onFileSelected($event, recuadros.aprobacionEquipo)"
      accept="application/pdf"
      hidden
    />

    <div
      *ngIf="!esSecretario && !recuadros.aprobacionEquipo.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div *ngIf="recuadros.aprobacionEquipo.pdfFile" class="download-container">
      <a
        [href]="recuadros.aprobacionEquipo.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>
    <button
      *ngIf="esSecretario && !recuadros.aprobacionEquipo.fechaEnvio"
      (click)="sendEmail(recuadros.aprobacionEquipo)"
    >
      {{ recuadros.aprobacionEquipo.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Notificación al área de graduación -->
  <div class="recuadro">
    <h3>
      Notificación de área de graduación de aptitud para defensa del trabajo de
      titulación
    </h3>
    <p>
      Fecha:
      {{
        recuadros.areaGraduacion.fechaEnvio
          ? recuadros.areaGraduacion.fechaEnvio
          : currentDate
      }}
    </p>
    <input
      [disabled]="!esSecretario"
      type="email"
      [(ngModel)]="recuadros.areaGraduacion.correo"
      placeholder="Correo del área de graduación"
    />
    <label
      *ngIf="esSecretario"
      for="archivoAreaGraduacion"
      class="custom-file-upload"
    >
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoAreaGraduacion"
      type="file"
      (change)="onFileSelected($event, recuadros.areaGraduacion)"
      accept="application/pdf"
      hidden
    />

    <div
      *ngIf="!esSecretario && !recuadros.areaGraduacion.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div *ngIf="recuadros.areaGraduacion.pdfFile" class="download-container">
      <a
        [href]="recuadros.areaGraduacion.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>
    <button
      *ngIf="esSecretario && !recuadros.areaGraduacion.fechaEnvio"
      (click)="sendEmail(recuadros.areaGraduacion)"
    >
      {{ recuadros.areaGraduacion.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Notificación de grado señalando hora y fecha -->
  <div class="recuadro">
    <h3>Notificación de grado señalando hora y fecha</h3>
    <p>Fecha: {{ fechaEnvioDirector ? fechaEnvioDirector : currentDate }}</p>
    <p>Director: {{ directorName }}</p>
    <input
      type="datetime-local"
      [(ngModel)]="selectedDateTime"
      [disabled]="!esSecretario"
    />
    <button
      *ngIf="esSecretario && !fechaEnvioDirector"
      (click)="sendToDirector()"
    >
      {{ fechaEnvioDirector ? "Enviado" : "Enviar" }}
    </button>
  </div>

  <!-- Expediente de área de graduación derecho -->
  <div class="recuadro">
    <h3>Expediente de área de graduación derecho</h3>

    <p>
      Fecha de Emisión:
      {{
        recuadros.expedienteGraduacion.fechaEnvio
          ? recuadros.expedienteGraduacion.fechaEnvio
          : currentDate
      }}
    </p>

    <div *ngIf="!tesisDataCache?.urlZipRubrica" class="recuadro-pendiente">
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>No existe expediente disponible para descarga</span>
      </div>
    </div>

    <div *ngIf="tesisDataCache?.urlZipRubrica" class="download-container">
      <button
        type="button"
        (click)="descargarExpedienteZip()"
        class="custom-file-upload download-style zip-btn-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Descargar Expediente</span>
      </button>
    </div>
  </div>

  <!-- <div class="recuadro">
    <h3>Expediente de área de graduación derecho</h3>
    <p>
      Fecha:
      {{
        recuadros.expedienteGraduacion.fechaEnvio
          ? recuadros.expedienteGraduacion.fechaEnvio
          : currentDate
      }}
    </p>
    <label
      *ngIf="esSecretario"
      for="archivoExpedienteGraduacion"
      class="custom-file-upload"
    >
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      Adjunta tu documento aquí
    </label>
    <input
      id="archivoExpedienteGraduacion"
      type="file"
      (change)="onFileSelected($event, recuadros.expedienteGraduacion)"
      accept="application/pdf"
      hidden
    />

    <div
      *ngIf="!esSecretario && !recuadros.expedienteGraduacion.pdfFile"
      class="recuadro-pendiente"
    >
      <div class="custom-file-upload-disabled">
        <img
          src="assets/img/pending-icon.svg"
          alt="Wait Icon"
          class="icon-wait"
        />
        <span>Pendiente de carga</span>
      </div>
    </div>

    <div
      *ngIf="recuadros.expedienteGraduacion.pdfFile"
      class="download-container"
    >
      <a
        [href]="recuadros.expedienteGraduacion.pdfFile"
        target="_blank"
        class="custom-file-upload download-style"
      >
        <img src="assets/img/download-icon.svg" alt="Descargar" />
        <span>Ver / Descargar Expediente</span>
      </a>
    </div>

    <button
      *ngIf="esSecretario && !recuadros.expedienteGraduacion.fechaEnvio"
      (click)="sendEmail(recuadros.expedienteGraduacion)"
    >
      {{ recuadros.expedienteGraduacion.fechaEnvio ? "Enviado" : "Enviar" }}
    </button>
  </div>
</div>
--></div>
<app-footer2></app-footer2>
