<app-header></app-header>
<app-text></app-text>
<div class="profile-container">
  <div class="profile-header">
    <img src="assets/img/Dr%201.png">
    <div class="descripcionDocente">
      <h2>{{ professorName }}</h2>
      <p>El proyecto tiene como objetivo principal la implementación de técnicas innovadoras de lectura crítica en el ámbito universitario, con el propósito de potenciar las habilidades analíticas y reflexivas de los estudiantes. Reconociendo la importancia fundamental de la lectura crítica en el proceso educativo, se busca proporcionar a los participantes las herramientas necesarias para abordar textos académicos de manera más efectiva. El proyecto tiene como objetivo principal la implementación de técnicas innovadoras de lectura crítica en el ámbito universitario, con el propósito de potenciar las habilidades analíticas y reflexivas de los estudiantes. Reconociendo la importancia fundamental de la lectura crítica en el proceso educativo, se busca proporcionar a los participantes las herramientas necesarias para abordar textos académicos de manera más efectiva.</p>
    </div>
  </div>

  <div class="class-header">
    <h2>Descripción de la clase</h2>
    <p>{{ subjectDescription }}</p>
  </div>

  <div class="question-section">
    <h3>{{ questions[currentQuestionIndex] }}</h3>
    <input type="text" [(ngModel)]="currentAnswer" placeholder="Respuesta..."> <!-- Enlace bidireccional con ngModel -->
    <button (click)="nextQuestion()">{{ buttonText }}</button>
  </div>
</div>
<app-footer></app-footer>
