<app-header></app-header>
<app-text></app-text>
<div class="profile-container">
  <div class="profile-header">
    <img
      [src]="professorPhoto || 'assets/noPhotoUser.jpeg'"
      alt="Foto del profesor"
      class="professor-photo"
    />
    <div class="descripcionDocente">
      <h2>{{ professorName }}</h2>
      <p>{{ presentacion }}</p>
    </div>
  </div>

  <div class="class-header">
    <h2>Descripción de la clase</h2>
    <p>{{ subjectDescription }}</p>
  </div>

  <div class="question-section">
    <h3>{{ questionsSubject[currentQuestionIndex] }}</h3>
    <input type="text" [(ngModel)]="currentAnswer" placeholder="Respuesta..." />
    <!-- Enlace bidireccional con ngModel -->
    <button (click)="nextQuestion()">{{ buttonText }}</button>
  </div>
</div>
<app-footer></app-footer>
