h2 {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
  color: #2c3e50;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 10%;
}

thead {
  background-color: #f8f9fa;
}

th, td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

th {
  color: #5d6d7e;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

a {
  color: #00a2d1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #044170;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

button:hover {
  background-color: #005599;
}

td:nth-child(6), td:nth-child(7), td:nth-child(8) {
  text-align: center;
}

.status-approve {
  background-color: #92FF9F;
  color: #044170;
  padding: 13px 13px;
  border-radius: 12px;
}
.status-approve option{
  background-color: white;
}


.status-wait {
  background-color: #aeb6bf;
  color: #044170;
  padding: 13.5px 13.5px;
  border-radius: 12px;
}

.status-wait option{
  background-color: white;
}

.status-reject {
  background-color: #FF9898;
  color: #044170;
  padding: 12px 12px;
  border-radius: 12px;
}

.status-reject option{
  background: white;
}

tfoot button {
  background-color: #003366;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btns{
  display: flex;
  justify-content: center;
}

.empty-docs-message {
  margin: 10px 0;
  color: #5d6d7e;
  font-size: 14px;
  text-align: center;
}

input, select{
  padding: 10px;
  border-radius: 8px;
  background-color: #f8fafc;
}

.custom-file-upload {
  display: flex;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 5px;
  width: 175px;
  cursor: pointer;
  color: #333;
  font-size: 10px;
  gap: 5px;
  margin: 0;
  background-color: #fff;
  align-items: center;
}

#archivo{
  display: none;
}
