<app-header></app-header>
<app-text></app-text>

<div class="info-container">
  <h2>AT + 360 U-T-S</h2>
  <img src="assets/img/linea%20con%20circulo.svg">
  <h3>Información</h3>

  <div class="texto-introductorio">
    <p>
      En un mundo en constante cambio, la educación se erige como la piedra angular del progreso y la adaptabilidad. En
      este contexto, se están implementando estrategias innovadoras que buscan transformar la manera en que enseñamos y
      aprendemos.
      Desde el uso de tecnologías emergentes hasta enfoques pedagógicos vanguardistas, la revolución educativa está en
      marcha. La integración de la inteligencia artificial en el aula no solo personaliza la experiencia de aprendizaje,
      sino que también abre nuevas puertas a la creatividad y la resolución de problemas.
    </p>
  </div>

  <!-- Vista para estudiantes -->
  <div *ngIf="userRole === 'estudiante'" class="seleccion">

    <!-- Tabla con las tesis -->
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Nombre de docente</th>
            <th>Facultad</th>
            <th>Carrera</th>
            <th>Asignatura</th>
            <th>Estado</th>
            <th>Avance</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tesis of filteredTesis">
            <td>{{ tesis.professorName }}</td>
            <td>Facultad de Ciencias Jurídicas y Políticas</td>
            <td>Derecho</td>
            <td>{{ tesis.className }}</td>
            <td [ngClass]="{'completado': tesis.status === 'Completado', 'faltante': tesis.status === 'Faltante'}">
              {{ tesis.status }}
            </td>
            <td [ngStyle]="{'color': tesis.progress < 100 ? 'red' : 'green'}">{{ tesis.progress }}%</td>
            <td><a class="a" (click)="goToTracking(tesis.id)">Ver seguimiento</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <div class="roles-selection">
      <h1>Crear nueva tesis</h1>

      <label for="cycle">Seleccionar ciclo:</label>
      <select id="cycle" [(ngModel)]="selectedCycleId" name="cycle" required>
        <option value="" disabled selected>-- Elige un ciclo --</option>
        <option *ngFor="let ciclo of cycles" [value]="ciclo.id">{{ ciclo.name }}</option>
      </select>

    </div>

    <div class="modality-selection">
      <label>Selecciona tu modalidad:</label>
      <div class="modalidad">
        <button (click)="onModalityChange('presencial')">Modalidad Presencial</button>
        <button (click)="onModalityChange('distancia')">Modalidad Abierta y Distancia</button>
      </div>

      <div class="classes-select" *ngIf="filteredClasses$ | async as filteredClasses">
        <select id="classes" [(ngModel)]="selectedClass">
          <option value="" disabled [ngValue]="null">Selecciona una opción</option>
          <option *ngFor="let classItem of filteredClasses" [value]="classItem.id">
            {{ classItem.name }} - {{ classItem.cicle }}º ciclo (Profesor: {{ classItem.professorName }})
          </option>
        </select>
      </div>
    </div>
    <br>

    <div class="perfil-boton">
      <button (click)="goToProfile()" [disabled]="!isButtonEnabled()" class="profile-button">
        Iniciar
      </button>
    </div>
  </div>

  <!-- Vista para evaluadores, directores o docentes -->
  <div *ngIf="['secretario', 'director', 'docente'].includes(userRole || '')" class="seguimiento">
    <h3>Seguimiento de Tesis</h3>

    <!-- Buscador -->
    <div class="buscador">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Nombre, identificación" (input)="onSearch()">
      <button (click)="onSearch()">Buscar</button>
    </div>

    <!-- Tabla con las tesis -->
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Nombre del estudiante</th>
            <th>Nombre de docentes</th>
            <th>Facultad</th>
            <th>Carrera</th>
            <th>Identificación</th>
            <th>Asignatura</th>
            <th>Estado</th>
            <th>Avance</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tesis of filteredTesis">
            <td>{{ tesis.studentName }}</td>
            <td>{{ tesis.professorName }}</td>
            <td>Facultad de Ciencias Jurídicas y Políticas</td>
            <td>Derecho</td>
            <td>{{ tesis.userId }}</td>
            <td>{{ tesis.className }}</td>
            <td [ngClass]="{'completado': tesis.status === 'Completado', 'faltante': tesis.status === 'Faltante'}">
              {{ tesis.status }}
            </td>
            <td [ngStyle]="{'color': tesis.progress < 100 ? 'red' : 'green'}">{{ tesis.progress }}%</td>
            <td><a class="a" (click)="goToTracking(tesis.id)">Ver seguimiento</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="descargar-btn" (click)="downloadPDF()">Descargar</button>
  </div>

  <div *ngIf="userRole === 'secretario'">
    <h2>Gestión de Usuarios</h2>
    <p>Carga un archivo Excel (.xlsx) con las columnas: <strong>nombre</strong>, <strong>apellido</strong>,
      <strong>email</strong>.
    </p>

    <div class="role-select" style="margin-bottom: 15px;">
      <label for="role-select" style="margin-right: 10px;"><strong>Rol a asignar:</strong></label>
      <select id="role-select" [(ngModel)]="selectedRoleForUpload">
        <option [ngValue]="null" disabled>-- Selecciona un rol --</option>
        <option value="director">Director</option>
        <option value="equipo evaluador">Equipo Evaluador</option>
      </select>
    </div>

    <div>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx, .xls">
    </div>

    <button (click)="processExcelFile()" [disabled]="!selectedFile || !selectedRoleForUpload || isLoading"
      style="margin: 15px; padding: 10px;" class="abs">
      {{ isLoading ? 'Procesando...' : 'Cargar Usuarios desde Archivo' }}
    </button>

    <div *ngIf="feedbackMessage" [ngClass]="{'success': !isError, 'error': isError}"
      style="margin-top: 15px; white-space: pre-wrap;">
      {{ feedbackMessage }}
    </div>
  </div>

</div>

<app-footer></app-footer>